.stateCards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .stateCards-container {
    margin-top: 30px;
    margin-bottom: 60px;

    width: 80%;
  }
}
.stateCard-background {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 140px;
  height: 140px;
  border: 0px;
  margin: 10px;
  cursor: pointer;
  outline: none;
}
.home-paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .stateCard-background {
    border-radius: 12px;
    padding: 20px;
    width: 200px;
    border: 0px;
    height: 200px;
    margin: 0px;
  }
  .home-paragraph-heading {
    font-size: 16px;
  }
  .paragraph-heading {
    font-size: 24px;
  }
}

.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.grey {
  color: #6c757d;
}

.Active {
  background-color: #132240;
}
.Recovered {
  background-color: #182829;
}
.Deceased {
  background-color: #212230;
}
.Confirmed {
  background-color: #331427;
}

.home-cards-logo {
  width: 24px;
}
@media screen and (min-width: 768px) {
  .home-cards-logo {
    width: 38px;
  }
}
